<a href="https://colab.research.google.com/github/Suryatejainti7/FML/blob/main/experiment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MULTI-VARIATE LINERA REGRESSION

importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

reading the data

In [2]:
data = pd.read_csv("Company_data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

Dividing the dataset into input and output sets:

In [3]:
X = data.drop('Sales',axis=1).values
y = data['Sales'].values

Dividing the dataset into training and testing datasets. We select the size of training and testing data by assigning a value to the test_size parameter(0.25 here) i.e., the size of training data = 75% and the size of testing data = 25%

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state=42)

In [5]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Performance metrics on training data:

In [6]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
y_pred1 = reg.predict(X_train)
print("MAE =",mean_absolute_error(y_train,y_pred1))
print("MSE =",mean_squared_error(y_train,y_pred1))
print("RMSE =",np.sqrt(mean_absolute_error(y_train,y_pred1)))
print("R2_SCORE =",r2_score(y_train,y_pred1))

MAE = 1.2867986998947178
MSE = 2.835248214412683
RMSE = 1.134371499948195
R2_SCORE = 0.895775985137604

In [7]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
y_pred2 = reg.predict(X_test)
print("MAE =",mean_absolute_error(y_test,y_pred2))
print("MSE =",mean_squared_error(y_test,y_pred2))
print("RMSE =",np.sqrt(mean_absolute_error(y_test,y_pred2)))
print("R2_SCORE =",r2_score(y_test,y_pred2))

MAE = 1.1199940713361771
MSE = 2.4040674447118877
RMSE = 1.0582977233917576
R2_SCORE = 0.9115647723992757

It is clear that our model works well when the input data is multivariate rather than univariate. r2_score is higher in multuivariate input.